.block.hidden {
    display: none;
}

.block {
    width: 100%;
    background: white;
    padding: 56px 64px;
    border-radius: 0px 50px;
}

.block__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
    line-height: 28px;
    justify-content: space-between;
    padding-left: 20px;
}

.block__list-item {
    margin-bottom: 16px;
}

.block__list-item:last-child {
    margin-bottom: 0;
}