.main-docs.is-active {
    display: flex;
}

.main-docs {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 856px;
    padding-top: 146px;
    padding-bottom: 128px;
}

.main-docs-btns {
    display: flex;
    height: 140px;
}

.main-docs-btns__btn {
    height: 100%;
    background: white;
    font-size: 32px;
    line-height: 100%;
}

.main-docs-btns__btn:nth-child(1) {
    padding: 54px 90.5px;
}

.main-docs-btns__btn:nth-child(2) {
    padding: 54px 62.5px;
}

.main-docs-btns__btn:hover {
    background: #4B6EB9;
    color: white;
}

.main-docs-btns__btn.is-active {
    background: #4B6EB9;
    color: white;
}

.main-docs-block {
    width: 100%;
    height: 272px;
    background: white;
    padding: 56px 64px;
    border-radius: 0px 50px;
    margin-top: 64px;
}

.main-docs-block__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
    line-height: 28px;
    justify-content: space-between;
    list-style-position: inside;
}

.main-docs-accordeon {
    width: 100%;
}

.main-docs-accordeon-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 112px;
    padding: 40px 64px;
}

.main-docs-accordeon-header_1 {
    background: #874BA0;
    border-radius: 50px 0px 0px 0px;
    color: white;
}

.main-docs-accordeon-header_2 {
    background: #1E1E1E;
    color: white;
}

.main-docs-accordeon-header_3 {
    background: white;
    border-radius: 0px 0px 50px 0px;
} 


/* .main-docs-accordeon-header__heading {

}

.main-docs-accordeon-block {

}

.main-docs-accordeon__list {

} */



