@font-face {
    font-family: "Verdana", sans-serif;
    src: url("../fonts/Verdana.ttf"), url("../fonts/Verdana.woff"), url("../fonts/Verdana.woff2"), url("../fonts/Verdana-Bold.ttf"), url("../fonts/Verdana-Bold.woff"), url("../fonts/Verdana-Bold.woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    overflow-x: hidden;
    background: rgb(238, 238, 238);
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
    outline: none;
}
  